# MongoDB Atlas Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/attendance_db?retryWrites=true&w=majority
DATABASE_URL="mongodb+srv://admin:yourpassword@cluster0.mongodb.net/attendance_db?retryWrites=true&w=majority"

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development

# Optional ADMS Default Heartbeat interval (seconds)
ADMS_HEARTBEAT_INTERVAL=60
